- if matches.any? && matches.try(:total_pages).present?
  %nav
    %ul.pagination
      %li= hidden_field_tag 'total_pages', matches.total_pages
      %li.left-arrow
        - if matches.current_page.present? && matches.current_page > 1
          = link_to matches_path(search: params[:search], order: params[:order], sort: params[:sort], page: matches.current_page-1, anchor: anchor), aria: {label: "Previous"} do
            %span{"aria-hidden"=> "true"}
              &laquo;
        - else
          %a
            %span{"aria-hidden"=> "true"}
              &laquo;

      - (1..matches.total_pages).each do |page|
        %li{class: "#{"active" if page == matches.current_page}"}= link_to page.to_s, matches_path(search: params[:search], order: params[:order], sort: params[:sort], page: page, anchor: anchor), value: page
      %li.right-arrow
        - if matches.try(:current_page).present? && matches.current_page < matches.total_pages
          = link_to matches_path(search: params[:search], order: params[:order], sort: params[:sort], page: matches.current_page+1, anchor: anchor), aria: {label: "Next"} do
            %span{"aria-hidden"=> "true"}
              &raquo;
        - else
          %a
            %span{"aria-hidden"=> "true"}
              &raquo;
