.document_image {
  width: 50vw; 
  min-width: 100px; 
  height: auto;
  border-radius: 15px;
  padding-bottom: 20px;
  // border-style: inset;
  // border-top-color: $color-red;
  // border-left-color: $color-red;
  // border-right-color: $color-grey;
  // border-bottom-color: $color-grey;
}